{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
        <div class="container">
            {% if error %}
                <div class="alert alert-danger">
                    <ul class="list-unstyled mb-0">
                        <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                            <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {{ form(form) }}
                </div>
            </div>
        </div>
{% endblock %}
