{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.first_name) }}
                {{ form_row(form.last_name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.plain_password ) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
