{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    {% for message in app.flashes('success')  %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h3>A voir avec Mister Rohel</h3>
    <ol>
        <li class="alert-success">Ajouter un commentaire depuis la page d'affichage d'un produit</li>
        <li>Formulaire de connexion et d'inscription dans une modal (ISO 1?)</li>
        <li>Accorder un niveau d'administrateur a un membre en tant qu'Admin</li>
        <li>Ajouter des nouveaux membres en tant qu'Admin (sécuriser la bonne route)</li>
    </ol>

    <h3>ToDo</h3>
    <ol>
        <li>Gestion des images multiples sur un produit</li>
        <li>Gestion des thumbnail homepage</li>
        <li>Gestion de l'affichage de la carte en fonction de l'adresse</li>
        <li class="alert-success">Ajouter la pagination</li>
        <li>Gérer les filtres (Isotope for SF4?)</li>
        <li class="alert-success">Ajouter la suppression de bien</li>
        <li>Commentaires: Si le membre est connécté, récupérer son pseudo, si il n'est pas connecté, demander un mail et un pseudo</li>
    </ol>


    <div class="row">
        <div class="col-md-3 filters">
            <p class="lead">Catégorie</p>
            <div class="list-group filters-button-group button-group" data-filter-group="categorie">
                <button class="button is-checked list-group-item" data-filter="">Tout voir</button>
                <button class="button list-group-item" data-filter=".réunion">Réunion</button>
                <button class="button list-group-item" data-filter=".bureau">Bureau</button>
                <button class="button list-group-item" data-filter=".formation">Formation</button>
            </div>
            <p class="lead">Ville</p>
            <div class="list-group filters-button-group button-group" data-filter-group="ville">
                <button class="button is-checked list-group-item" data-filter="">Tout voir</button>
                <button class="button list-group-item" data-filter=".Lyon">Lyon</button>
                <button class="button list-group-item" data-filter=".Paris">Paris</button>
                <button class="button list-group-item" data-filter=".Marseille">Marseille</button>
            </div>
            <p class="lead">Capacité</p>
            <div class="capSize filters-button-group select-group" data-filter-group="capacite">
                <select class="list-group-item filters-select col3" name="select">
                    <option value="" selected>Tout voir</option>
                    <option value=".C10">10</option>
                    <option value=".C20">20</option>
                    <option value=".C30">30</option>
                    <option value=".C40">40</option>
                    <option value=".C50">50</option>
                    <option value=".C60">60</option>
                    <option value=".C70">70</option>
                    <option value=".C80">80</option>
                    <option value=".C90">90</option>
                    <option value=".C100">100</option>
                </select>
            </div>
            <br>
            <div class="cost">
                <p class="lead">Prix maximum</p>

                <div class="bootstrap-slider">
                    <span class="filter-label">Fourchette de prix: <span class="filter-selection"></span></span>
                    <input id="filter-price" data-slider-step="50" type="text" class="bootstrap-slider" value="" data-filter-group="price">
                </div>
                <div class="costEuro">
                    <span class="range-value">0</span><span class="€"> €</span>
                </div>
            </div>
            <p class="lead">Période</p>
            <div class="list-group">
                <p class="ita">Date d'arrivée</p>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        <input type='date' class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <p class="ita">Date de départ</p>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        <input type='date' class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <p class="ita pCenter" id="resultCount"></p>
            </div>
        </div>
{# FIN COLONNE GAUCHE #}

        <div class="col-md-9 mt-5">
            <div class="container">
                <div class="row">
            {% for product in products %}
                    <div class="col-4 mb-4">
                        <div class="card">
                            <img src="http://placehold.it/260x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <h6 class="card-title">{{ product.price}} €</h6>
                                <p class="card-text">{{ product.description | truncate(50,true,"...") }}</p>
                                <p class="card-text available_date"><i class="material-icons">date_range</i>Du 23/02/2019 au 02/03/2019</p>
                                <div class="row">
                                    <div class="col-8">
                                        <i class="material-icons star">star</i>
                                        <i class="material-icons star">star</i>
                                        <i class="material-icons star">star</i>
                                        <i class="material-icons star">star_border</i>
                                        <i class="material-icons star">star_border</i>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ path('product.show',{id:product.id, slug:product.slug}) }}" class="btn btn-primary btn-sm">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
            </div>
        </div>
            <div class="pagination">
                {{ knp_pagination_render(products) }}
            </div>
    </div>
</div>
</div>
{% endblock %}