.star{
    font-size:20px;
    color:#AA3333;
    vertical-align: middle;
}

.available_date{
    font-size: 12px;
}

.available_date i{
    color: black;
    font-size: 20px;
    vertical-align: middle;
}

h5.card-title{
    display: inline;
}

div#map{
    display: block;
    width: 100%;
    height: 250px;
    background: dimgrey;
}

.note{
    width: 100%;
    display: -webkit-inline-flex;
    border-bottom: 1px solid rgba(165, 165, 165, 0.2);
}
.note p{
    margin-left:20px;

}



/*FORMS*/

#product_description{
    height:125px !important;
}