<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block nav %}
    <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Coworking</a>
        <ul class="navbar-nav">
            <li class="nav-item {% if current_menu is defined and current_menu == 'home' %} active {% endif %}">
                <a class="nav-link" href="{{path('home')}}">Accueil</a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item {% if current_menu is defined and current_menu == 'member' %} active {% endif %}">
                    <a class="nav-link" href="#">Espace membre</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {% if current_menu is defined and current_menu == 'admin' %} active {% endif %}">
                    <a class="nav-link" href="{{path('admin.product.index')}}">Admin</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('logout')}}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item {% if current_menu is defined and current_menu == 'login' %} active {% endif %}">
                    <a class="nav-link" href="{{path('login')}}">Connexion</a>
                </li>
                <li class="nav-item {% if current_menu is defined and current_menu == 'register' %} active {% endif %}">
                    <a class="nav-link" href="{{path('registration.register')}}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block body %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
{{  encore_entry_script_tags('app') }}
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>{% endblock %}
</body>
</html>
