{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.title) }}
                {{ form_row(form.price) }}
            </div>
        </div>
    </div>
    <div class="col-6">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="row">
    <div class="col-6">{{ form_row(form.address) }}</div>
    <div class="col-6">{{ form_row(form.capacity) }}</div>
</div>
<button class="btn btn-primary">{{ button|default('Valider') }}</button>
<a class="btn btn-danger" href="{{ path('admin.product.index') }}">Annuler</a>
{{ form_end(form) }}