{% extends 'base.html.twig' %}

{% block title 'Ajouter un nouveau bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un nouveau produit</h1>
        {{ include('admin/product/_form.html.twig', { form: form, button:"Créer le produit"}) }}
    </div>
{% endblock %}



