{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier un produit</h1>
        {{ include('admin/product/_form.html.twig', {form: form, button: 'Éditer'}) }}
    </div>
{% endblock %}



