{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <div class="container mt-4 mb-4">
        {% for message in app.flashes('success')  %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Capacité</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description | truncate(10,true,'...') }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.capacity }}</td>
                            <td>{{ product.address }}</td>
                            <td>
                                <a href="{{ path('admin.product.edit',{id: product.id}) }}" class="btn btn-primary">Edit</a>
                                <form method="post" action="{{ path('admin.product.delete', {id: product.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmer la suppression ? Cette action est irréversible')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="text-right">
                <a href="{{ path('admin.product.new') }}" class="btn btn-primary">Ajouter un produit</a>
            </div>
    </div>
{% endblock %}

