{{ form_start(form) }}
<div class="form-group">
        {{ form_row(form.note) }}
        {{ form_row(form.comment) }}
</div>
<div class="modal-footer">
    <button class="btn btn-primary">{{ button|default('Valider') }}</button>
</div>
{{ form_end(form) }}