{% extends 'base.html.twig' %}

{% block title 'Ajouter un commentaire' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un commentaire</h1>
        {{ include('feedback/_form.html.twig', {form:form, button:'Envoyer'}) }}
    </div>
{% endblock %}



